.layout-container { 
    margin: 0 auto;
    max-width: 1000px;
    padding: 10px;

    @media (min-width: $two-col-layout-min) {
        padding: 20px;
    }
}

.content-container {
    padding-bottom: 30px;
    
    @include clearfix;
}